<div class="bg-primary p-2">
    <h3 class="text-white">
        Create Project
    </h3>
</div>

<div class="container-fluid">

    <h5 class="text-success m-4">{{ response }}</h5>
    <form #createprojectForm="ngForm" (ngSubmit)=oncreateSubmit()>
        <div class="form_group">
            <label>
        Project name
      </label>
            <input required type="text" pattern="^[A-Za-z]{5,}$" [class.is-invalid]="projectname.invalid && projectname.touched" name="projectname" class="form-control" #projectname='ngModel' [(ngModel)]='createproj.projname'>
            <div *ngIf="projectname.errors && (projectname.invalid && projectname.touched)">
                <small *ngIf="projectname.errors.pattern" class="text-danger">Please enter a valid Project Name - Only
          alphabets</small>
                <small *ngIf="projectname.errors.required" class="text-danger">Project Name is required</small>
            </div>
        </div>
        <div class="form_group">
            <label>
            Email
          </label>
            <input required type="email" pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" [class.is-invalid]="email.invalid && email.touched" disabled class="form-control" #email='ngModel' [(ngModel)]='createproj.email'>
            <div *ngIf="email.errors && (email.invalid && email.touched)">
                <small *ngIf="email.errors.pattern" class="text-danger">Please enter a valid email</small>
                <small *ngIf="email.errors.required" class="text-danger">Email field is required</small>
            </div>
        </div>
        <div class="form_group">
            <label>
            Fullname
          </label>
            <input type="text" required name="fullname" disabled pattern="^[A-Za-z]{3,}$" class="form-control" [class.is-invalid]="fullname.invalid && fullname.touched" #fullname='ngModel' [(ngModel)]='createproj.fullname'>
            <div *ngIf="fullname.errors && (fullname.invalid && fullname.touched)">
                <small *ngIf="fullname.errors.pattern" class="text-danger">fullname must not contain numerals</small>
                <small *ngIf="fullname.errors.required" class="text-danger">Your Fullname field is required</small>
            </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Create Project</button>
    </form>
</div>